/* 
* xCIT specific Behaverse styling 
*/

/* Page commons */

body {
	background-color: #310029;
	/*background-image: url('https://xcit.org/extras/behaverse-org/img/background_homepage_test.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	position: relative;
	font-size: 14px;
}

.body_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

/*.home_page_bg {
	background-image: url('https://xcit.org/extras/behaverse-org/img/background_homepage_test.jpg');
}*/

/*.training_bg {
	background-image: url('https://xcit.org/extras/behaverse-org/img/background_training.jpg');
}

.assessment_bg {
	background-image: url('https://xcit.org/extras/behaverse-org/img/background_assessment.jpg');
}*/

body .bg-mask::after {
	/* Background color of sections (default+index) */
	background-color: rgba(0.3, 0.3, 0.3, 0.75);
}

/*body.background-assessment {
	background-image: url('https://xcit.org/extras/behaverse-org/img/background_assessment.jpg');
}*/

body.background-assessment .bg-mask::after {
	/* Background color of sections in assessment page */
	background-color: rgba(0.3, 0.3, 0.3, 0.8);
}

/*body.background-training {
	background-image: url('https://xcit.org/extras/behaverse-org/img/background_training.jpg');
}*/

body.background-training .bg-mask::after {
	/* Background color of sections in assessment page */
	background-color: rgba(0.3, 0.3, 0.3, 0.85);
}

.top-nav {
	background-color: #1d1d1d;
	border-bottom: 3px #fff2a9 solid;
}

.top-nav.nav-sticky {
	position: fixed;
	z-index: 5;
}

.top-nav.is-sticky {
	background-color: #1d1d1d;
}

.section-secondary {
	padding-top: 10px;
}

.content {
	padding: 0 40px;
}

.maxw-90 {
	max-width: 90% !important;
}

.description p {
	font-size: 1.2em;
	font-weight: 400;
}

a {
	color: #66aaee;
}

a:hover {
	color: #99ccff;
}

p {
	text-align: justify;
}

.display-page p {
	color: rgb(223, 223, 223);
}

h1.center:after {
	margin-left: auto;
	margin-right: auto;
}

h1.big {
	font-size: 48px;
}

.center p {
	text-align: center;
}

video {
	width: 100%;
}

.image-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 75px;
}

.image-row > div {
	margin: 0 20px;
}

.text-highlight {
	color: #c69c6d;
	font-weight: 500;
}

/* Accordion content (galaxies) */

.accordion .ui-accordion-header {
	background-color: #2f2c33;
}

.accordion .ui-accordion-header-active {
	background-color: #302957;
}

.accordion .ui-accordion-header-active.ui-corner-top {
	border: 2px #674ea7 solid;
	border-bottom: 0;
}

.accordion .ui-accordion-content-active.ui-corner-bottom {
	border: 2px #674ea7 solid;
	border-top: 0;
}

.accordion .ui-accordion-content {
	background-color: #1c1c1c;
}

.accordion .ui-accordion-content p {
	color: rgb(223, 223, 223);
}

.accordion p, .accordion h3 {
	text-transform: none;
}

.accordion .galaxy-icon {
	width: auto;
}

.accordion h3 {
	font-size: 2em;
	margin: 10px 0;
}

.accordion .buttons-section {
	margin-top: 30px;
}

.section-planet {
	margin-bottom: 30px;
}

.section-planet + hr {
	width: 66%;
}

.section-planet .col-planet {
	margin-bottom: 25px;
	max-width: 100%;
}

.section-planet .col-planet p {
	margin-top: 5px;
}

.section-planet p {
	margin-bottom:10px;
}

.galaxy-header-text > p {
	font-size: 1.15em;
	font-weight: 400;
	line-height: 1.5em;
}

@media (max-width: 768px) {
	/* Applied at sm and below */
	.accordion .galaxy-icon {
		text-align: center;
	}
}

@media (max-width: 992px) {
	/* Applied at md and below */
	iframe.youtube-video {
		width: 100%;
	}
}

/* Planet & Galaxies icons */

#galaxy-wheel {
	max-width: 50%;
}

.galaxy-icon > img {
	width: 100px;
}

.planet-icon:before {
	background-size: 60px 60px;
	display: inline-block;
	width: 60px;
	height: 60px;
	content: "";
	vertical-align: -24px;
	margin-right: 10px;
}

.planet-icon-activities:before {
	background-image: url('https://xcit.org/extras/behaverse-org/img/planet_activities.png');
}

.planet-icon-data:before {
	background-image: url('https://xcit.org/extras/behaverse-org/img/planet_data.png');
}

.planet-icon-experiments:before {
	background-image: url('https://xcit.org/extras/behaverse-org/img/planet_experiments.png');
}

.planet-icon-analytics:before {
	background-image: url('https://xcit.org/extras/behaverse-org/img/planet_analytics.png');
}

.planet-icon-models:before {
	background-image: url('https://xcit.org/extras/behaverse-org/img/planet_models.png');
}

.planet-icon-tools:before {
	background-image: url('https://xcit.org/extras/behaverse-org/img/planet_tools.png');
}

/* Task gallery */

.portfolio > div {
	padding: 13px;
}

.portfolio-wrapper {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.item-wrap h3 {
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	
	display: table-cell;
	vertical-align: middle;
}

.modal-box {
	padding-top: 40px;
	border: #444 1px solid;
	color: #fff;
	background-color: #222;
}

.modal-box .modal-box-content {
	padding: 32px;
	padding-top: 0px;
}

.mfp-close-btn-in .mfp-close {
	color: #fff;
}

.mfp-bg.mfp-fade.mfp-ready {
	background: #686f88;
}

/* Footer */

footer .logo {
	text-align: center;
}



/*REsponsive Styles*/
@media only screen and (max-width:440px) {
.content {
	padding: 0;
}
.container-fluid .container-fluid.section-planet {
	padding-left: 0;
	padding-right: 0;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

}