/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'system-ui','Roboto', sans-serif;
}
  
h1, h2, h3 {
    font-family: 'system-ui','Roboto', sans-serif;
    color: #8900f0;
}



.assessment h1, .assessment h2, .assessment h3 {
  color: #e50000;
}


.data h1, .data h2, .data h3 {
  color: #00e9a6;
}

.models h1, .models h2, .models h3 {
  color: #ecd500;
}

.games h1, .games h2, .games h3 {
  color:#5b68f7;
}


.standards h1, .standards h2, .standards h3 {
  color: #e400d5;
}



.tools h1, .tools h2, .tools h3 {
  color: #7b7b7b;
}
